<html>
    <head>
        <title>Construindo com EJS</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
        <style>
            body{
                padding-top: 50px;
            }
        </style>
    </head>
    <body >
        <header class="bg-success">
            <nav class="navbar navbar-expand-lg border border-bottom p-4">
                <a href="/" class="text-light navbar-brand">EJS</a>
            </nav>
        </header>

        <main class="p-5 jumbotron container">
            <h1 class="display-4">Node com EJS</h1>
            <p class="text-success">Vamos aprender a trabalhar com arquivos EJS</p>
        </main>

        <footer class="fixed-bottom border border-top bg-dark text-light">
            <p>Construido com sucesso!!!</p>
        </footer>
    </body>
</html>