<header class="bg-success">

   
    <nav class="navbar navbar-expand-lg border border-bottom p-4">
        <a href="/" class="text-light navbar-brand">EJS</a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item"></li>
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/sobre" class="nav-link">Sobre</a>
            </li>
        </ul>
    </nav>
    
</header>
<p class="bg-warning text-right text-light  mb-5 pr-4">Página: <%= typeof pagina != 'undefined' ? pagina: 'Home' %></p>